<div>{{eventTypeText}}</div>
{{#if transmitted}}<div><span class="emphasis">When:</span> {{transmitted}}</div>{{/if}}
{{#if speed}}<div><span class="emphasis">Speed:</span> {{speed}}</div>{{/if}}
{{#if registration}}<div><span class="emphasis">Registration:</span> {{registration}}</div>{{/if}}
<div><span class="emphasis">Product:</span> {{#if productType}}{{productType}}{{else}}Unknown{{/if}}</div>
