<div class="amPopupContainer nonMapPopup hoverToggle"
     data-lat="{{locationFeature.geometry.coordinates.[1]}}"
     data-lon="{{locationFeature.geometry.coordinates.[0]}}"
     data-popup="{{popup}}">
  <span class="{{className}}">{{text}}</span>
</div>