<div class="arena-map-table">
  {{{commonContent}}}
  <div class="section">{{{incidentDetails}}}</div>
  <div class="section">{{{operatorDetails}}}</div>
  <div class="section">{{{availabilityNotes}}}</div>
  <div class="section">{{{contactDetails}}}</div>
  <div class="section">{{{aircraftAction}}}</div>
  <div class="section planningOnly">{{{planningButton}}}</div>
  {{{opsButtons}}}
</div>

