<div class="arena-map-table">
{{#if includeTitle}}
  <div class="emphasis">{{title}}</div>
{{/if}}
<div><span class="subsection-heading">Last Seen:</span> {{{lastSeen}}}</div>
<div>{{{spatialDisp}}}</div>
<div class="section">{{{details}}}</div>
<div class="section">{{{contactDetails}}}</div>
{{{pilotDetails}}}
</div>
