<div class="arena-map-table">
  {{#if location.name}}<div><span class="emphasis">Name:</span> {{location.name}}</div>{{/if}}
  {{#if location.jurisdiction}}<div><span class="emphasis">Jurisdiction:</span> {{location.jurisdiction}}</div>{{/if}}
  {{#if location.lat}}<div><span class="emphasis">Latitude:</span> {{location.lat}}</div>{{/if}}
  {{#if location.long}}<div><span class="emphasis">Longitude:</span> {{location.long}}</div>{{/if}}
  {{#if location.locality}}<div><span class="emphasis">Locality:</span> {{location.locality}}</div>{{/if}}
  {{#if location.status}}<div><span class="emphasis">Status:</span> {{location.status}}</div>{{/if}}
  {{#if location.adviceToPilots}}<div><span class="emphasis">Advice to Pilots:</span> {{location.adviceToPilots}}</div>{{/if}}
  {{#if location.managingOrganisation}}<div><span class="emphasis">Managing Organisation:</span> {{location.managingOrganisation}}</div>{{/if}}
  {{#if location.contactName}}<div><span class="emphasis">Contact Name:</span> {{location.contactName}}</div>{{/if}}
  {{#if location.contactNumber}}<div><span class="emphasis">Contact Number:</span> {{location.contactNumber}}</div>{{/if}}
  {{#if location.lastReview}}<div><span class="emphasis">Last Review:</span> {{location.lastReview}}</div>{{/if}}
</div>

