<div class="arena-map-table">
    <strong>AVAILABILITY RECORD </strong>
    <span class="emphasis">{{{title}}}</span>
    <div><span class={{{statusClass}}}><span class="eventName emphasis">{{{status}}}</span> </span>
    <span>{{{dispatch_number}}}</span>
    </div>
    <div> <span class="emphasis">{{{locationDetails}}}</span></div>
    <div><span class="emphasis">Fuelling Arrangement:</span><span>{{{fuellingDescription}}}</span>
    </div>
    <div><span class="emphasis">Currently:</span><span>{{{distanceToBase}}}</span>
    </div>
    {{{commonContent}}}
    {{{operatorDetails}}}
    {{{availabilityNote}}}
    {{{dispatchContactDetails}}}
</div>